<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYTSocketClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE597A3E1E9F14D4008789FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE597A571E9F14D4008789FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE597A621E9F14D4008789FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
